/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    text-align: left;
    color: #333;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
}



input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    display: block;
    margin: 20px auto;
    padding: 15px 30px; /* Increase padding for a bigger button */
    font-size: 16px; /* Adjust font size as needed */
    background-color: #0074D9; /* Example background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}